* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #32213a;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1160px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  width: 40%;
}

.form__input {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.form__button {
  background-color: #5d4e6d;
  color: #fff;
  border: none;
  padding: 12px 32px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.item {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
}
